<h2><%= @group.name %></h2>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @group.students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, attendees_path(student_id: student.id, date: @date) %></td>
        <td><%= student.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>


