<h2><%= @group.name %> Group <small><span class="label label-info"><%= @group.students.count%> students</span></small></h2>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Edit Lesson</div>
  <div class="panel-body">
    <%= render partial: 'form' %>
  </div>
</div>
